.paper {
  background: #fff7e1;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  height: 98%;
  width: 70%; 
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15), /* Тень верхнего слоя */
    0 10px 0 -5px #eee, /* Второй слой */
    0 10px 1px -4px rgba(0,0,0,0.15), /* Тень второго слоя */
    0 20px 0 -10px #eee, /* Тень третьего слоя */
    0 20px 1px -9px rgba(0,0,0,0.15); /* Тень третьего слоя */
}
.sendData {
  display: flex;
  height: 100%; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;}

.inputData {
  width: 75%;
  height: 8%; 
  margin-top: 1%;
  resize: none;
}

.btnSend {
  width: 75%;
  height: 8%;
  margin-bottom: 1%;
  background-color: bisque;
  mix-blend-mode: difference;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, Helvetica; 
}